.thread-card {

    box-sizing: border-box;
    background-color: #182220;
    color: white;
    border-radius: 8px;
    width: 30%;
    border-color: black;
    justify-content: space-between;
    align-items: center;

}

.thread-card-meta {
    display: flex;
    flex-direction: row;



}


.thread-card-meta-item {
    margin: 10px;
}